              <div class="row text-left">
                      <div class="col-xs-12 text-left">
                              <% @articles.each do |article|  %>
                              <h2 style="font-size:25px; font-family: 'Helvetica Neue'; padding-top: 20px"><%= article.title %></h2>
                              <h5 style="font-size:16px; font-family: 'Helvetica Neue'; padding-top: 20px; padding-bottom: 5px">Posted <%= article.date  %></h5>
                              <p style="font-size:16px; font-family: 'Helvetica Neue'; line-height: 25px"><%= article.body  %></p>
                              <% end %>
                      </div>
              </div>


