        <% @articles.each do |article|  %>

                <div class="row text-left" id="article">
                        <div class="col-xs-12 text-left">
               
                              <a href='/'> <i class="icon-dribbble"></i></a> <h2><%= article.title %></h2>

                                <%= render :partial => "apps/app_template", :locals => { :app => article.apps.first } %>
                                
                                <h5 id="post-date">Posted <%= article.date  %></h5>

                                <%= raw article.body  %>

                        </div>
                </div>

                <% if @articles.count>1 && article!=@articles.last %>

                <div class="col-xs-12 spacer">
                        <div class="mask"></div>
                </div>

                <% end %>

        <% end %>
