$base-color : #333;
$alt-color : #ff6600;
$background-color : #fff;
$app-background-color: #f8f8f8;
$positive-color: rgba(92, 184, 92, 0.7);
$negative-color: rgba(217, 83, 79, 0.7);

#about h4{
        margin-top: 25px;        
        padding: 0;
}

.topics {

        i, h4 {
                display: inline-block;
        }
}

.topics {
        margin-top: 25px;
}
